.DS_Store
*.zip
lopcha/
lopcha_landing_v_final.html
SEO_Audit_Report_Lopcha.md
Lopcha Manual de Marca.html
ziULRiml
*.patch
*.bak
*.mp4
videos training/
my-video/
fotos blog/
.write_test
AUDITORIA_COMPLETA_2026-07.md
*.tar.gz
